{{define "title"}}About{{end}}
{{define "main"}}
<h2>Latest Snippets</h2>
<p>
  SnippetBox is a versatile tool that allows users to save and manage their text snippets efficiently. It’s perfect for
  anyone who frequently works with text, from developers who need to store code snippets to writers and researchers
  keeping track of quotes and references. With SnippetBox, you can quickly save snippets, categorize them for easy
  retrieval, and access them from anywhere. It’s a simple yet powerful way to keep your most important pieces of
  information at your fingertips. Whether it’s a line of code, a stanza of poetry, or a critical piece of data,
  SnippetBox keeps it safe and ready for when you need it most.
</p>
{{end}}
